.section{
  position: relative;
  margin-top: -10rem;
  z-index: 100;
  transition: transform 1s ease-in-out ;
  animation: Section-enter 1s ease-in-out forwards;
}

@keyframes Section-enter {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(5%);
  }
}
.card {
  padding: 1rem;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: rgb(44, 44, 44);
  max-width: 35rem;
  margin: 4px auto;
}


@media (max-width :790px) {
  .card{
   width: 80%;
   font-size: 14px;
  } 
 }

 @media (max-width :590px) {
  .card{
   width: 80%;
   font-size: 10px;
  } 
 }