.header {
    position: fixed;
    top: 130px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease-out;
    z-index:1120;
}

.header-button {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    color: #fff;
}

/* Optional styles for the header buttons */
.header-button:hover {
    background-color: #555;
}